.clientCard{
  background-color: #F0F7EE;
  border-width: 1px;
  border-style: solid;
  border-color: #97D6ED;
  border-radius: 15px;

  margin: 1.2rem;
  padding: 0.5rem;

  cursor: pointer;

  box-shadow: 0px 10px 5px #86CFEA;

  color:#162550;

  display:flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  
  transition-duration: 0.4s;

  word-wrap: break-word;
}

.clientCard:hover{
  transform: scale(102%);
  box-shadow: 0px 10px 5px #52BAE0;
}

.clientCardTitle{
  font-size: x-large;
  font-weight: bold;
}