.advisorCard{
  background-color: #0A0A0A;
  border-width: 1px;
  border-style: solid;
  border-color: #3D3D3D;
  border-radius: 5px;

  margin: 1.2rem;
  padding: 0.5rem;

  cursor: pointer;

  box-shadow: 0px 10px 5px #141414;
  color:#3D3D3D;


  display:flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;

  transition-duration: 0.4s;
}

.advisorCard:hover{
  transform: scale(102%);
  box-shadow: 0px 10px 5px #1F1F1F;
}

.advisorCard:hover > svg{
  fill:#0041CC;
  stroke:#0041CC;
}

svg{
  fill:#3D3D3D;
  stroke:#3D3D3D;
  transition-duration: 0.2s;
}

.advisorCardTitle{
  font-size: x-large;
  font-weight: bold;
  width: 100%;
  line-height: 0.2rem;
  color:#F5F5F5;
}

.advisorCardDescription{
  padding: 0.4rem;
  margin: 0px;
}

.Enabled{
  background-color:#14B850;
  
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  border-color:#0E8138;

  font-weight: bold;
  font-size: small;
  color: white;

  padding: 0.2rem;
}

.Disabled{
  background-color:#F64740;
  
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  border-color:#F41D15;

  font-weight: bold;
  font-size: small;
  color: white;

  padding: 0.2rem;
}