:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --light-white-0:#EBEBEB;
  --light-purple-0:#5C0AFF;
  --light-purple-1: #8547FF;
  --light-purple-2: #AD85FF;

  --dark-jet-0:#0A0A0A;
  --dark-jet-1:#1F1F1F;
  --dark-jet-2:#333333;
  --dark-jet-3:#474747;
  --dark-jet-4:#5C5C5C;
  --dark-jet-9:#D6D6D6;

  --default-margin-width: 2px;

  --default-animation-duration: 0.2s;
  width: 100%;
}

#root{
  width: 100%;
  min-height: 100vh;
  
  display: flex;
  flex-direction: column;
}

h1{
  color: var(--light-purple-0);
}

body{
  margin:0;
}