#root {
  margin: 0px;
  padding: 0px;
  text-align: center;

  height: 100%;
}

.container{
  display: flex;
  flex-grow: 1;

  max-height: 90vh;

  overflow-y: hidden;

  box-sizing: border-box;
  border-style: none none solid solid;
  border-width: 1px;
  border-color: #3D3D3D;
  
  margin:2rem;
  margin-top: 0px;

}

.cardsContainer{
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;

  border-right-style: solid;
  border-width: 1px;
  border-color: #3D3D3D;
}

.cardsContainer > h1{
  position: sticky;
  top: 0px;

  margin:0px;
  padding: 0.5rem;
  background-color: #0A0A0A;
  border-style: none none solid none;
  border-width: 1px;
  border-color: #3D3D3D;

  z-index: 2;

  transition-duration: 0.4s;
}

.cardsContainer:hover > h1 {
  transform: scale(102%);
  color:#0041CC;
  box-shadow: 0px 5px 5px #00133D;
}

h3{
  color: #3D3D3D;
}

.fetchButton{
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 600;
  font-size: large;

  background-color: #0041CC;
  
  padding: 0.6rem 3rem 0.6rem 3rem;
  margin: 0px 0px 1.5rem 0px;

  border-radius: 50px;
  border-width: 1px;
  border-color: #00133D;

  transition-duration: 0.4s;
}

.fetchButton:hover{
  background-color: #00133D;
}