#root {
  margin: 0px;
  padding: 0px;
  text-align: center;

  height: 100%;
}

.container{
  display: flex;
  flex-grow: 1;

  max-height: 90vh;

  overflow-y: hidden;

  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  border-color: #3D3D3D;
  margin:2rem;
}

.cardsContainer{
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;

  border-right-style: solid;
  border-width: 1px;
  border-color: #3D3D3D;
}

.cardsContainer > h1{
  position: sticky;
  top: 0px;

  margin:0px;
  padding: 0.5rem;
  background-color: #0A0A0A;

  border-style: solid none solid none;
  border-width: 1px;
  border-color: #3D3D3D;

  z-index: 2;
}

h3{
  color: #3D3D3D;
}