.footer-container{
    border-top-style: solid;
    border-width: var(--default-margin-width);
    border-color: var(--light-purple-2);
    background-color: var(--light-white-0);
    
    color: var(--light-purple-2);
  
    text-align: center;

    transition:all var(--default-animation-duration) ease-in;/*allows the transition between themes to be smoother*/
}

.footer-container.dark{
    background-color: var(--dark-jet-1);
}