body {
    height: 100%;
    margin: 0;
    display: flex;
    place-items: center;
    justify-content: center;
    align-items: center;
    background-color: var(--light-white-0);
  
    flex-grow: 1;
  }