.menu-container{
  height: 100%;
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  align-items: center;
  background-color: var(--light-white-0);

  flex-grow: 1;

  transition:all var(--default-animation-duration) ease-in;/*allows the transition between themes to be smoother*/
}

.menu-container.dark{
  background-color: var(--dark-jet-1);
}

.menu-list{
  list-style:none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.menu-item{
  background-color: var(--light-white-0);
  cursor:pointer;
  color: var(--light-purple-1);
  font-size: xx-large;
  
  padding: 1rem 2rem 1rem 2rem;
  
  transition:all var(--default-animation-duration) ease-in;/*allows the transition between themes to be smoother*/
}

.menu-item.dark{
  color: var(--light-purple-2);
  background-color: var(--dark-jet-1);
  
  transition:all var(--default-animation-duration) ease-in;/*allows the transition between themes to be smoother*/
}
  
.menu-item:hover{
  background-color: var(--light-purple-1);
  color: var(--light-white-0);
  transform:scale(1.04);
}

.menu-item.dark:hover{
  background-color:var(--light-purple-1);
  color:var(--dark-jet-1);
}