.tb-container{
    margin: 0 0.25rem 0 0.25rem;
}

.tb-background{
    border-radius: 100px;
    width: 100%;
    height: 2rem;
    background-color:#E0E0E0;
    border-style: solid;
    border-width: 2px;
    border-color: var(--light-purple-2);

    transition:all var(--default-animation-duration) ease-in;/*allows the transition between themes to be smoother*/
}

.tb-background.dark{
    background-color:var(--dark-jet-2);
}

.tb-ball{
    width: 2rem;
    height: 2rem;
    border-radius: 100px;
    background-color: var(--light-purple-0);
}

.tb-head{
    display:flex;
    justify-content: space-between;
}

.tb-label-selected{
    color: var(--light-purple-1);
    margin:5px;
    font-weight: bold;
}

.tb-label-unselected{
    color: var(--light-purple-2);
    margin:5px;
}