#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button{
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  margin: 0.5rem;
  font-size: xx-large;
  color: #fff;
  border-radius: 0.5rem;
  border-style: none;
  background-color: rgb(63, 63, 142);
}

.button-show{
  background-color: rgb(132, 171, 93);
}

.button-hide{
  background-color: rgb(136, 7, 7);
}